$dark: #1d1d1d;
$green: #4f9e4f;
$text-muted: #FFFFFF2;
$orange: #e28a0d;
:root {
  --light-dark: #2a2a2a
}

@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap-vue/src/index';


.no-margin {
  margin: 0 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.profile-img {
  border-radius: 15px;
}

.dark {
  background-color: $dark !important;
  color: rgba($white, 0.95);
}

.light {
  background-color: adjust_color($dark, $lightness: 5%) !important;
  color: rgba($white, 0.95);
}

.sidebar-item {
  color: rgba($white, 0.95);
}

.red {
  color: var(--orange) !important;
}

.lil-context-menu {
  background-color: adjust_color($dark, $lightness: 30%) !important;
  color: adjust_color($light, $lightness: 50%) !important;
}

.card {
  background-color: adjust_color($dark, $lightness: 7%);
  color: rgba($white, 0.95);

  .card-footer {
    border-top-color: $gray-600;
    border-top-style: dashed;
  }

  .card-header {
    border-bottom-color: $gray-600;
    border-bottom-style: dashed;
  }
}

//noinspection CssInvalidPseudoSelector
:export {
  blue: $blue;
  orange: $orange;
  red: $red
}
