$dark: #1d1d1d;
$green: #4f9e4f;
$text-muted: #FFFFFF2;
$orange: #e28a0d;
$purple: #d747d6;
$blue: #428bca;
body {
  font-family: 'Arial', sans-serif !important;
  -webkit-font-smoothing: antialiased;
}

:root {

  --light-dark: #2a2a2a;
  --path-stroke: rgb(60, 63, 65);
}

@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap-vue/src/index';


.no-margin {
  margin: 0 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.profile-img {
  border-radius: 15px;
}

.dark {
  background-color: $dark !important;
  color: rgba($white, 0.95);
}

.light {
  background-color: adjust_color($dark, $lightness: 5%) !important;
  color: rgba($white, 0.95);
}

.sidebar-item {
  color: rgba($white, 0.95);
}

.red {
  color: var(--orange) !important;
}

.lil-context-menu {
  background-color: $dark !important;
  color: rgba($white, 0.95);
}

.code-size {
  width: 4rem !important;
  text-align: center;
}

.cosmictype-size {
  width: 7rem !important;
}

.custom-select {
  background-color: adjust_color($dark, $lightness: 7%);
  font-size: 12px;
  border: none;
  color: rgba($white, 0.95);
  padding: 3px 6px;
}

.b-table {
  background-color: adjust_color($dark, $lightness: 7%);
  color: rgba($white, 0.95);
  font-size: 12px;
}
.form-control {
  background-color: adjust_color($dark, $lightness: 7%);
  color: rgba($white, 0.95);
  font-size: 12px;
  border-color: $dark;

  &:focus {
    background-color: adjust_color($dark, $lightness: 6%);
    color: rgba($white, 0.95);
    border-color: $dark;
    box-shadow: 0 0 0 0.2rem $dark;
  }
}


.table-hover tbody tr:hover {
  color: rgba($white, 0.95);
  cursor: pointer;
}

.table thead th {
  border-top: var(--dark) 1px solid;
  border-bottom: var(--dark) 2px solid;
  text-align: center;
}

.table {
  justify-content: center;
}

.table td {
  border-top: var(--light-dark) 1px solid;
}

.card {
  background-color: adjust_color($dark, $lightness: 7%);
  color: rgba($white, 0.95);

  .card-header {
    border: none;
  }

  .card-body {
    border-top: $gray-600 1px dashed;
  }
}


.close {
  color: rgba($white, 0.95) !important;
}

.modal-content {
  background-color: $dark !important;
  color: rgba($white, 0.95);
  border-color: adjust_color($dark, $lightness: 7%);

  .custom-select {
    background-color: $dark !important;
    color: rgba($white, 0.95);
    border-color: adjust_color($dark, $lightness: 7%);
  }


}

.modal-header {
  background-color: $dark !important;
  color: rgba($white, 0.95);
  border-bottom: $gray-600 1px dashed;
}

.modal-footer {
  background-color: $dark !important;
  color: rgba($white, 0.95);
  border-top: $gray-600 1px dashed;
}


//noinspection CssInvalidPseudoSelector
:export {
  blue: $blue;
  orange: $orange;
  red: $red
}
